<div class="left-topic" style="text-align: center;">
	
	<form action="login" method="POST">
		<p><input type="text" class="input-text" placeholder="Логин" name="login"></p>
		<p><input type="password" class="input-text" placeholder="Пароль" name="password"></p>
		<p><input value="Войти" type="submit" /></p>
	</form>

</div>