<div class="left-topic" style="text-align: center;">
	{{user.uid}}
	<br />
	{{user.name}}
	<br />
	{{user.sur_name}}
	<br />
	Школа 1852 
	{{user.class_}} {{user.number}}

	<form action="loginout" method="POST">
		<p><input value="Выйти" type="submit" /></p>
	</form>
</div>