<div class="main-topic" style="text-align:center">	
		<h1 style="text-align:center; margin:10px 0">Книги </h1>
		<p>
			<input type="search">
			<input type="submit" value="Найти" style="margin:0; padding:4px 7px; border-radius:0 10px 10px 0;">
		</p>
		<table>
			<tr>
				<td>ID</td>
				<td>Книга</td>
				<td>Состояние</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
</div>