	{% if(user.role == "pupil") %}

	<div>
		<ul class="sub-menu">
			<li>Мои книги</li>
			<li>Мои учителя</li>
			<li>Сообщения</li>
		</ul>
	</div>	

	{% elif(user.role == "teacher") %}
	
	<div>
		<ul class="sub-menu">
			<li>Книги ваших учеников</li>
			<li>Сообщения</li>
		</ul>
	</div>	

	{% elif(user.role == "librarian") %}

	<script src="./static/js/librarian.js"></script>
	<link href="{{url_for('static', filename='style/librarian.css')}}" rel="stylesheet" type="text/css" />


		<div id="scan">
			<div id="front"></div>
			<input id="scan-user" type="text" class="input-scan" />
			<div id="scan-text">Приложите штрихкод</div>
		</div>


		<div class="half-topic">
				<div>
					<ul class="sub-menu" style="width:100%; margin-left: 0;">
						<li>Все ученики</li>
						<li>Должники</li>
					</ul>
				</div>

				<table>
					<tr>
						<td>UID</td>
						<td>ФИ</td>
						<td>Класс</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>

		
		</div>

		<div class="half-topic">

				<div>
					<ul class="sub-menu" style="width:100%; margin-left: 0;">
						<li>Вопросы</li>
						<li>Сообщения</li>
					</ul>
				</div>

				<table>
					<tr>
						<td>От кого</td>
						<td>Тема</td>
						<td>Сообщение</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>

		</div>

	</div>

	{% endif %}