<h1>{{"Ученик" if (who == "pupil") else "Учитель"}}</h1> 
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        *Имя:<br>
        {{form.name(class="input-text")}}<br>
    </p>
    
    <p>
        *Фамилия:<br>
        {{form.last_name(class="input-text")}}<br>
    </p>

    <p>
        *Введите дату рождения:<br>
        {{form.date(type = "date")}}
    </p>

    <p>
        *Класс{{", который вы ведете:" if (teacher == "teacher") else ""}}:<br>
        {{form.select_class(class="input-select")}}<br>
    </p>

    <p>
        *Буква класса:<br>
        {{form.number_class(class="input-select")}}<br>
    </p>

    <p>
    	<p>Дополнительно:</p>
	    <p>
	        Почта:<br>
	        {{form.email(class="input-text")}}<br>
	    </p>

	    <p>
	        Телефон:<br>
	        {{form.phone(class="input-text")}}<br>
	    </p>
	</p>

    <p><input type="submit" value="Sign In"></p>
</form>