{% if(not one) %}

<div class="main-topic" style="text-align:center">	
		<h1 style="text-align:center; margin:10px 0">Пользователи</h1>
		<p>
			<input type="search">
			<input type="submit" value="Найти" style="margin:0; padding:4px 7px; border-radius:0 10px 10px 0;">
		</p>
		<table>
			<tr>
				<td>Книга</td>
				<td>Срок сдачи</td>
				<td>Состояние</td>
			</tr>

			{% for i in users %}
			<tr>
				<td>{{i.uid}}</td>
				<td>{{i.name + " " + i.sur_name}}</td>
				<td>{{i.class_ + i.number}}</td>
			</tr>
			{% endfor %}
		</table>
</div>

{% else %}

<script src="/static/js/pupil.js"></script>
<link href="{{url_for('static', filename='style/pupil.css')}}" rel="stylesheet" type="text/css" />

<div class="main-topic" style="width: 60%; display: inline-block;">
<p>{{user.name}} {{user.sur_name}}</p>
<p>{{user.years}}</p>
<p>{{user.class_}} "{{user.number}}"</p>
{% if(user.email != "") %}
	<p>{{user.email}}</p>
{% else %}
	<p>Не указано!</p>
{% endif %}

{% if(user.phone != "") %}
	<p>{{user.phone}}</p>
{% else %}
	<p>Не указано!</p>
{% endif %}


<table>
	<tr>
		<td>Книга</td>
		<td>Срок сдачи</td>
		<td>Состояние</td>
	</tr>

	{% for i in books %}
	<tr>
		<td>{{i.title}}</td>
		<td>None</td>
		<td>{{i.mark}}</td>
	</tr>
	{% endfor %}
</table>

</div>

<div id="group-scan">

</div>

{% endif %}