/*
 *  STYYLE (INPUT) USER 
 */

.input-text {
  display: inline-block;
  width: 300px;
  height: 23px;
  border-radius: 2px;
  border: 1px solid #bbb;
  background: #f6f6f6;
  font: 14px  sans-serif;
  color:#3e4948;

  width: 85%;
}

.input-select {
  display: inline-block;
  width: 100px;
  height: 25px;
  border-radius: 3px;
  background: #eee;
}

input[type="submit"] {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;

  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.input-text:hover , .input-select:hover {
  border: 1px solid #4e5958;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

input[type="submit"]:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

input[type="search"] {
  display: inline-block;
  border-radius: 10px 0 0 10px;
  border: 1px solid #bbb;
  background: #FFF;
  font: 14px  sans-serif;
  color:#3e4948;
  height:25px;
}

a {
  text-decoration: none;
}