#scan {
	position: relative;

	width: 30%;

	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;

	text-align: center;
}

#front {
	position: absolute;

	text-align: center;

	width: 100%;
	height: 50px;

	background-image: url("../image/search.png");
	background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    background-size: 30% 50px;

    padding-top: 10px;
    padding-bottom: 10px;

	cursor: default;

}

.input-scan {
	width: 50%;
	height: 20px;

	margin: 0;
	padding: 0;

	margin-top: 10px;
}

#front:hover {
	background-color: #CCC;
}

#scan-text {
	font-size: 11px;
	font-style: bold;

	margin-top: 50px;
}