#group-scan {
	display: inline-block;
	width: 30%;
	margin-top: 10px;
}

.scan {
	position: relative;

	width: 100%;

	vertical-align: top;
	text-align: center;
}

.front {
	position: absolute;

	text-align: center;

	width: 100%;
	height: 50px;

	background-image: url("/static/image/search.png");
	background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    background-size: 50px 50px;

    padding-top: 10px;
    padding-bottom: 10px;

	cursor: default;

}

.input-scan {
	width: 50%;
	height: 20px;

	margin: 0;
	padding: 0;

	margin-top: 10px;
}

.front:hover {
	background-color: #CCC;
}

.scan-text {
	font-size: 11px;
	font-style: bold;

	margin-top: 50px;
}

.front-text {
	margin-left: 50px;
}