<html>
<head>

	<title>{{title}}</title>

	<link rel="stylesheet" href="static/style/form.css" />
	<link rel="stylesheet" href="static/style/input.css" />
</head>

<body>
	<div class="center">
		{% extends ("present/" + content) %}
	</div>
</body>

</html>