﻿<!doctype html>
<html>
<head>
	<title>{{title}}</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<link href="{{url_for('static', filename='style/style.css')}}" rel="stylesheet" type="text/css" /> 
	<link href="{{url_for('static', filename='style/input.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
		<header>
			<nav>
				<ul class="top-menu">
					<li> <a href="/"> Главная  </a> </li>
					<li> <a href="/books"> Книги </a> </li>
					<li> <a href="/news"> Новости </a> </li>
					<li> <a href="/info"> Информация </a> </li>
					<li> <a href="/blog"> Блог </a> </li>
				</ul>
			</nav>
			<div>
				<a href="/"><img src="/static/image/logo.jpg" class="logo"/></a>
			</div>
		</header>

		<div id="main">

			<aside>
				{% if(includes_blocks.count > 0) %}
					{% for i in includes_blocks: %}
						{% include ("include/" + i) %}
					{% endfor %}
				{% endif %}
			</aside>

			<div id="content">
				
					{% extends ("present/" + content) %}

			</div>
		</div>
	</div>
	<footer></footer>
</body>